Options -Indexes
ErrorDocument 404 "<h1>Error 404 </h1> <p>Sorry, but the page you are looking for has note been found. Try checking the URL for the error, then hit the refresh button on your browser or try found something else in our app <br> <a href='index.php'>back to home</a></p>"